@import "reset.css";

*{
    color: inherit;
}

div{
    display: block;
}

/* 시작 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

#wrapper{
    height : auto;
    min-height: 100%;
    padding-bottom: 245px;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button{
    border: 0;
    background-color: transparent;
}

/* header */

/* .fixed {
    position: fixed;
} */

nav{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #FFFFFF;
    top: 0;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 800;
    margin: auto;
    position: fixed;
    justify-content: center;
    align-items: center;

}

.navCen{
    width: 1060px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .bar{
    width: 17px;
    height: 14px;
    display: flex;
    padding: 15px;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
}

.navCen p{
    padding-left: 5px;
}

.bar2{
    /* flex-grow: ; */
    height: 50px;
    text-align: center;
    width: 621px;
    margin: auto;
}

nav ul li{
    float: left;
}

nav li a{
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

nav li svg{
    position: absolute;
    top: 10px;
    right: -7px;
    pointer-events: none;

}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}


.aside {
    width: 271px;
    /* height: 50px; */
    display: flex;
    padding: 10px 0px;
    height: 100%;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    float: right;
}

.aside .asideImg{
    width: 15px;
    height: 15px;
    padding: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.login{
    width: 300px;
    height: 20px;
    font-size: 12px;
    padding-top: 10px;
}

.aside div{
    padding-top: 10px;    
    display: inline-flex;
}

.asidelogin{
    width: 100px;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
}

/* main1 */
.main1{
    padding-top: 50px ;
}

.main1 .slide{
    width: 1060px;
    height: 300px;
    margin: auto;
    padding: 25px 0px 0px;
    display: flex;
}

.main1 .slideImg img{
    border-radius: 10px;
}

.main1 .subSlide{
    position: absolute;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #ffffff;
    float: left;
    top: 200px;
    margin-left: 20px;
    /* opacity: 0;
    text-align: left;
    left: 34px; */
}

.main1 .subSlide h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.main1 .subSlide h3{
    margin: 0 20px;
    height: 44px;
    font-size: 14px;
    line-height: 1.64;
    color: #333;
}

.main1 .subSlide01{
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: #e1e2e4;
}


.main1 .subSlide02{
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #36f;
    margin-bottom: 50px;
}

.main1 .subSlide03{
    width: 100%;
    height: 40px;
    font-size: inherit;
    font-weight: inherit;
    align-items: center;
    justify-content: inherit;
    color: inherit;
    display: flex;
    margin-top: 6px;
    margin-left: 20px;
}

.main1 .subSlide04{
    margin-top: -2px;
    margin-right: -1px;
    margin-left: 2px;
    display: flex;
}

.main1 .subSlide05{
    display: flex;
    align-items: inherit;
    justify-content: inherit;

}

.main1 .subSlide06{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.main1 .subSlideBtn1{
    left: calc((100% - 1210px)/2);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;

}

.main1 .subSlideBtn1 span{
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

.main1 .subSlideBtn1 svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.main1 .subSlideBtn2{
    right: calc((100% - 1200px)/2);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 10;
}

.main1 .subSlideBtn2 span{
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

.main1 .subSlideBtn2 svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}











/* main3 */
.main3{
}

.maint3_container{
    width: 1060px;
    height: 108px;
    margin: auto;

}

.main3_img{
    width: 1060px;
    height: 108px;
    margin-top: 60px;

    cursor: pointer;
    background: #0d99ff;
    color: #fff;
    border-radius: 10px;
    background-image: url(https://static.wanted.co.kr/images/type-test/typetest-banner-image.png);
    background-size: auto 100%;
    background-position: 100%;
    background-repeat: no-repeat;

    position: relative;
}



.main3_img_txt{
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
}

    
.main3_img_txt1{
    font-weight: 800;
    font-size: 22px;
    line-height: 26px
    
    
}


.main3_img_txt2{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .0056em;
    height: 32px;

}

.main3_img_txt2 svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;

    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;

    width: 16px;
    height: 16px;
    margin-left: 4px;
}


/* banner */

.banner00{
    background: #fff;
    border: 1px solid #e1e2e4;
    box-shadow: 4px 4px 15px rgba(0,0,0,.05);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 27px;
    gap: 27px;
    position: relative;

    width: 1060px;
    height: 119px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;

}

.banner00_container{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
}

.banner00_txt1{
    word-break: keep-all;
    font-weight: 600;
    font-size: 20px;
    line-height: 141.2%;
    color: #171717;
}

.banner00_txt2{
    color: #3366FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: .0056em;
    padding: 4px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.banner00_txt2 svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.banner00_img{
    width: 112px;
}

.banner00_btn{
    position: absolute;
    right: 13px;
    top: 13px;
    font-size: 20.5px;
    color: #ccc;
    cursor: pointer;
}

.banner00_btn1{
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}

.banner00_btn_img svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.banner_line{
    opacity: 0.2;
}



.banner{
    width: 1000px;
    height: 40px;
    background-image: linear-gradient(90deg,#01a9fe -12%,#2f5fef 37%,#046afe 72%,#00d2dd 110%);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 38.5px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.banner p{
    padding: 21px 30px;
    font-size: 18px;
    line-height: normal;
}

.banner svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}





/* main4 */
.main4{
    margin: auto;
    width: 1060px;
    height: 430px;
    display: flex;
    margin-bottom: 100px;
}

.title00{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 51px;
    padding-top: 36px;
    
}

.main4SubTitle{
    width: 1060px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    pointer-events: none;
}

.subTitle button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e1e2e4;
    border-radius: 50%;
    pointer-events: all;
    font-size: 16px;
}


.subTitleBtn1{
    cursor: not-allowed;
    opacity: .7;
    color: #ddd;
    border: 1px solid #eee;
    border-radius: 50%;
}

.subTitleBtn1_1{
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.subTitleBtn1_2{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

.subTitletxt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.subTitletxt1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    text-align: center;
}


.subTitletxt1 img{
    width: 24px;
    height: 24px;
}

.subTitletxt2{
    color: #333;
    text-align: center;
    font-weight: 400;
}


.subTitleBtn2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e1e2e4;
    border-radius: 50%;
    pointer-events: all;
    width: 36px;
    height: 36px;
}

.subTitleBtn2_1{
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    
}

.subTitleBtn2_2{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

.main4SubTitle2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main4SubTitle2txt{
    padding-top: 2px;
    margin-right: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #767676;;
    float: none;
}


    /* subcard1 */
    .subcard00{
        display: flex;
        margin-top: 20px;
    }

    .subCard1{
        border: 1px solid black;
        width: 540px;
        height: 350px;
        padding: 10px;
    }

    .subCard1_img00{
        border-radius: 4px;
        width: 520px;
        height: 270px;
        object-fit: cover;
        margin: 5px;
    }

    .subCard1_img{
        border-radius: 4px;
        width: 520px;
        height: 270px;
        object-fit: cover;
        
    }

    .subCard1_bot{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 10px;
        margin-top: 17px;
    }

    .subCard1_bot_img{
        height: 21px;
    }


    .subCard1_bot_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }


    .subCard1Education2{        
        color: #000000;
        border-color: #000000;

        display: inline-flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        height: 20px;
        border: 1px solid;
        border-radius: 2px;

        border-width: 0.5px;
        font-size: 11px;
        font-weight: 700;
        line-height: normal;
        padding: 0 6px;

    }

    .subCard1_txt{
        margin-top: 4px;
        font-size: 16px;
    }

    .subCard1_txt2{
        height: 16px;
        font-size: 14px;
        font-weight: 500;
        color: #999;
        margin-top: 4px;

    }

    .subCard1_btn{
        height: 40px;
        font-size: 15px;
        color: #36f;
        background-color: #fff;
        position: relative;
            
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        padding: 0 27px;
        box-sizing: border-box;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        border: none;
        background-color: none;
        cursor: pointer;
        border: 1px solid #e1e2e3;
        padding: 12px 25.5px 11px;
        line-height: 1;
    }

    .subCard1_btn p{
        width: 100%;
        font-size: inherit;
        font-weight: inherit;
        display: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
        color: inherit;
    }


    /* subcard2 */
    .subCard2{
        border: 1px solid black;
        width: 540px;
        height: 350px;
        padding: 10px;
    }

    .subCard2_img00{
        width: 520px;
        height: 270px;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        margin: 10px;

    }

    .subCard2_img{
        border-radius: 4px;
        width: 520px;
        height: 270px;
        object-fit: cover;
        
    }

    .subCard2_bot{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 10px;
        margin-top: 10px;
    }

    .subCard2_bot_txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .subCard2Article2{
        color: #ff9100;
        border-color: #ff9100;

        display: inline-flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        height: 20px;
        border: 1px solid;
        border-radius: 2px;

        border-width: 0.5px;
        font-size: 11px;
        font-weight: 700;
        line-height: normal;
        padding: 0 6px;
    }

    .subCard2_txt{
        margin-top: 4px;
        font-size: 16px;
    }

/* main5 */
    .main5{
        padding: 60px 0 80px;
    }

    .main5_1{
        max-width: 1060px;
        margin: auto;
    }

    .main5_banner{
        justify-content: center;
        margin: auto;
        margin-bottom: 50px;
    }

    .main5_banner_txt{
        text-align: center;
    
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main5_banner_txt h2{
        text-align: center;
        font-size: 22px;
    }   

    .main5_container{
        border: 1px solid #ececec;
        width: 1060px;
        height: 102px;
        display: flex;
    }

    .main5_container1{
        padding: 18px 0 0;
        border-right: 1px solid #ececec;
        width: 25%;

    }

    .main5_container1 a svg{
        width: 32px;
        height: 32px;
        font-size: 32px;
        display: block;
        margin: auto;
    }

    .main5_container1_txt{
        display: flex;
        margin-top: 20px;
    }

    .main5_container1 button{
        margin: auto;
        display: flex;
    }

    .main5_container1 button svg{
        width: 16;
        height: 16px;
        font-size: 16px;
        align-items: center;
        float: left;
    }

    
    
    








/* footer */
footer{
    height: 245px;
    position : relative;
    transform : translateY(-100%);
}

footer .footClass{
    padding: 18px 0px;
    background-color: #fff;
    border-top: 1px solid #ececec;
    display: flex;
    width: 1060px;
    margin: auto;
}

footer .footbottom{
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;
}

footer .footbottom a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 43px;
    width: 113px;
}

footer .variable{
    display: flex;

}

footer .footbottom span{
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 600;
    line-height: 2.6;
    margin-right: 45px;
    white-space: nowrap;
}

footer .footbottom2{
    display: flex;
    flex-wrap: nowrap;
    line-height: 2.6;
}

.footbottom2 a{
    position: relative;
    display: block;
    float: left;
    height: 20px;
}

.footbottom2 a img{
    margin-left: 14px;
}

.rowClass{
    border-top: 1px solid #ececec;
    padding-top: 25px;

    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;

    width: 1060px;
    height: 60px;
}


.rowClassTxt{
    width: 770px;
    height: 60px;
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667em;
    color: #767676;
    width: calc(100% - 290px);
    margin-right: 40px;
}